*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.vtk
*.synctex.gz
*.pvd
**/__pycache__/
linear_elasticity.pdf
cuda/build/*
cuda/CMakeFiles/*
**/jaxmaterials.egg-info/
build/*
docs/_build/
docs/generated